@font-face {
	font-family: 'lato bold';
	src: url(./assets/lato-bold-webfont.woff2) format('woff2'),
		url(./assets/lato-bold-webfont.woff), format('woff');
	font-display: swap;
	font-weight: bold;
}
@font-face {
	font-family: 'lato regular';
	src: url(./assets/lato-regular-webfont.woff2), format('woff2'),
		url(./assets/lato-regular-webfont.woff), format('woff');
	font-display: swap;
	font-weight: normal;
}

:root {
	--heading-font: 'lato bold', sans-serif;
	--text-font: 'lato regular', sans-serif;
	--text-color: #333;
	--background-color: #f4f4f4;
	--primary-color: #3498db;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--text-font);
	display: grid;
	place-items: center;
	height: 100dvh;
	background-color: #fff;
}

.container {
	width: 90%;
	max-width: 480px;
	min-width: 280px;
	margin: auto;
	min-height: 300px;
	max-height: fit-content;
	padding: 1rem 1.5rem;
	border-radius: 5px;
	background-color: var(--background-color);

	header {
		margin-bottom: 15px;

		h1 {
			line-height: 1.6;
			font-family: var(--heading-font);
			letter-spacing: -0.5px;
			text-transform: uppercase;
			text-align: center;
			color: #222;
		}

		p {
			line-height: 1.2;
			font-size: 1rem;
			max-width: 70ch;
		}
	}

	.display {
		width: 100%;
		min-height: 100px;
		max-height: fit-content;
		border: 1px solid;
		padding: 15px;
		border-radius: 4px;
		margin-bottom: 8px;
	}

	button {
		display: block;
		width: 100px;
		height: 38px;
		cursor: pointer;
		background: var(--primary-color);
		border: none;
		border-radius: 3px;
		color: var(--background-color);
		text-align: center;
		float: right;
		transition: transform .1s;
	}

	button:hover {
		background-color: #1b81c5;
		transform: translate(1px, 1px);
	}
}

