@font-face {
	font-family: 'lato bold';
	src: url(./assets/lato-bold-webfont.woff2) format('woff2'),
		url(./assets/lato-bold-webfont.woff), format('woff');
	font-display: swap;
	font-weight: bold;
}
@font-face {
	font-family: 'lato regular';
	src: url(./assets/lato-regular-webfont.woff2), format('woff2'),
		url(./assets/lato-regular-webfont.woff), format('woff');
	font-display: swap;
	font-weight: normal;
}

:root {
	--heading-font: 'lato bold', sans-serif;
	--text-font: 'lato regular', sans-serif;
	--text-color: #333;
	--background-color: #f4f4f4;
	--primary-color: #3498db;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--text-font);
	display: grid;
	place-items: center;
	height: 100dvh;
	background-color: #fff;
}

.container {
	width: 90%;
	max-width: 480px;
	min-width: 280px;
	margin: auto;
	min-height: 300px;
	max-height: fit-content;
	padding: 1rem 1.5rem;
	border-radius: 5px;
	background-color: var(--background-color);

	header {
		margin-bottom: 15px;

		h1 {
			line-height: 1.6;
			font-family: var(--heading-font);
			letter-spacing: -0.5px;
			text-transform: uppercase;
			text-align: center;
			color: #222;
		}

		p {
			line-height: 1.2;
			font-size: 1rem;
			max-width: 70ch;
		}
	}

	.display {
		width: 100%;
		min-height: 100px;
		max-height: fit-content;
		border: 1px solid;
		padding: 15px;
		border-radius: 4px;
		margin-bottom: 8px;
	}

	button {
		display: block;
		width: 100px;
		height: 38px;
		cursor: pointer;
		background: var(--primary-color);
		border: none;
		border-radius: 3px;
		color: var(--background-color);
		text-align: center;
		float: right;
		transition: transform 0.1s;
	}

	button:hover {
		background-color: #1b81c5;
		transform: translate(1px, 1px);
	}
}

.modal {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	backdrop-filter: blur(15px);
	display: none;

	form.modal-content {
		width: 90%;
		min-width: 280px;
		max-width: 480px;
		padding: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #d4dde5;
		min-height: 500px;
		max-height: fit-content;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

		h2 {
			display: inline-block;
			margin-bottom: 18px;
			font-family: var(--heading-font);
			border-bottom: 3px groove var(--text-color);
		}

		fieldset {
			border: none;

			.input-box {
				position: relative;
				margin-bottom: 20px;
				cursor: text;

				input {
					width: 100%;
					display: block;
					height: 58px;
					border: none;
					background-color: #fff;
					border-radius: 3px;
					outline: none;
					padding: 8px;
					font-size: 1em;

					& + label {
						position: absolute;
						top: 50%;
						left: 8px;
						transform: translateY(-50%);
						font-size: 15px;
						color: #888;
						transition: 0.2s;
						cursor: text;
					}
				}

				input:focus + label,
				input:valid + label {
					top: 1px;
					transform: unset;
					font-size: 12px;
				}
			}

			&:last-of-type {
				color: var(--text-color);

				& > div {
					display: inline-flex;
					align-items: center;
					gap: 5px;
					
					input {
						margin-top: 10px;
						transform: scale(1.4);
						outline: none;
					}
					
					label {
						margin-right: 25px;
						margin-top: 10px;
					}
				}
			}
		}

		div.btns {
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 15px;
			margin-top: 30px;

			button {
				width: calc(50% - 10px);
				padding: 14px;
				border: none;
				font-size: 0.9em;
				font-weight: 700;
				border-radius: 4px;
				cursor: pointer;
			}

			.add-book {
				background-color: var(--primary-color);
				color: var(--background-color);
			}
			.add-book:hover{
				background-color: #1b81c5;
			}

			.cancel {
				background-color: var(--text-color);
				color: var(--background-color);
			}

			.cancel:hover{
				background-color: #000;
			}
		}
	}
}
