@font-face {
	font-family: 'lato bold';
	src: url(./assets/lato-bold-webfont.woff2) format('woff2'),
		url(./assets/lato-bold-webfont.woff), format('woff');
	font-display: swap;
	font-weight: bold;
}
@font-face {
	font-family: 'lato regular';
	src: url(./assets/lato-regular-webfont.woff2), format('woff2'),
		url(./assets/lato-regular-webfont.woff), format('woff');
	font-display: swap;
	font-weight: normal;
}

:root {
	--heading-font: 'lato bold', sans-serif;
	--text-font: 'lato regular', sans-serif;
	--text-color: #333;
	--background-color: #f4f4f4;
	--primary-color: #3498db;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--text-font);
	display: grid;
	place-items: center;
	height: 100dvh;
	background-color: #fff;
}

.container {
	width: 93%;
	max-width: 480px;
	min-width: 280px;
	margin: auto;
	min-height: 350px;
	max-height: fit-content;
	padding: 1rem 1.5rem;
	padding-bottom: 1.5rem;
	border-radius: 5px;
	background-color: var(--background-color);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

	header {
		margin-bottom: 15px;

		h1 {
			line-height: 1.6;
			font-family: var(--heading-font);
			letter-spacing: -0.5px;
			text-transform: uppercase;
			text-align: center;
			color: #222;
		}

		p {
			line-height: 1.6;
			font-size: 15px;
			max-width: 70ch;
			color: #444;
			margin-bottom: 3px;
		}
	}

	.display {
		width: 100%;
		min-height: 100px;
		max-height: 300px;
		overflow-y: scroll;
		scroll-behavior: smooth;
		scrollbar-width: thin;
		border: 1px solid;
		padding: 15px;
		padding-right: 7px;
		border-radius: 4px;
		margin-bottom: 24px;

		div {
			position: relative;
			padding-right: 42px;

			button {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: unset;
				padding: 5px 10px;
				height: unset;
				background-color: #e94040;
			}
			
			button:hover {
				background-color: #a01212;
			}

			p {
				max-width: 68ch;
				overflow-wrap: break-word;
				word-break: break-word;
				font-size: 0.95em;
				line-height: 1.2;
				color: var(--text-color);
				letter-spacing: 0.1px;
				text-align: justify;

				span {
					font-style: italic;
				}
			}

			& + div {
				margin-top: 20px;
			}
		}
	}

	button {
		display: block;
		width: 100px;
		height: 38px;
		cursor: pointer;
		background: var(--primary-color);
		border: none;
		border-radius: 3px;
		color: var(--background-color);
		text-align: center;
		float: right;
		transition: transform 0.1s;
		font-size: 0.9em;
		font-weight: 700;
	}

	button:hover {
		background-color: #1b81c5;
		transform: translate(0.5px, 0.5px);
	}
}

.modal {
	width: 100vw;
	height: 100dvh;
	position: fixed;
	backdrop-filter: blur(15px);
	display: none;

	form.modal-content {
		width: 90%;
		min-width: 280px;
		max-width: 480px;
		padding: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #d4dde5;
		min-height: 500px;
		max-height: fit-content;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

		h2 {
			display: inline-block;
			margin-bottom: 25px;
			font-family: var(--heading-font);
			border-bottom: 3px groove var(--text-color);
		}

		fieldset {
			border: none;

			.input-box {
				position: relative;
				margin-bottom: 20px;
				cursor: text;

				input {
					width: 100%;
					display: block;
					height: 58px;
					border: none;
					background-color: #fff;
					border-radius: 3px;
					outline: none;
					padding: 35px 8px 20px;
					font-size: 0.9em;

					& + label {
						position: absolute;
						top: 50%;
						left: 8px;
						transform: translateY(-50%);
						transition: 0.2s;
						font-size: 1em;
						font-weight: 400;
						color: rgba(0, 0, 0, 0.54);
						opacity: 0.6;
						letter-spacing: normal;
						pointer-events: none;
						user-select: none;
						font-family: inherit;
					}
				}

				input:focus + label,
				input:valid + label {
					top: 7px;
					transform: unset;
					font-size: 14px;
				}
			}

			&:last-of-type {
				color: var(--text-color);

				& > div {
					display: inline-flex;
					align-items: center;
					gap: 5px;

					input {
						margin-top: 10px;
						transform: scale(1.4);
						outline: none;
					}

					label {
						margin-right: 25px;
						margin-top: 10px;
					}
				}
			}
		}

		div.btns {
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 15px;
			margin-top: 30px;

			button {
				width: calc(50% - 10px);
				padding: 14px;
				border: none;
				font-size: 0.9em;
				font-weight: 700;
				border-radius: 4px;
				cursor: pointer;
			}

			.add-book {
				background-color: var(--primary-color);
				color: var(--background-color);
			}
			.add-book:hover {
				background-color: #1b81c5;
			}

			.cancel {
				background-color: var(--text-color);
				color: var(--background-color);
			}

			.cancel:hover {
				background-color: #000;
			}
		}
	}
}
